
<head>
    {%block styles %}
        
        <!--bootsrap cdn-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}
</head>
<body>
    <!-- Navbar block  --> 
    {% block navbar %}
{% include 'navbar.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>


