<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Pitch-it</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span> </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li class = "nav-item">
          <a class="nav-link" href="#">{{current_user.username}}</a>
          <a class="nav-link" style = 'margin-right: 30px;' href="{{url_for('auth.logout')}}">Sign out</a>
          </li>
          {% else %}
          <li class = "nav-item">
          <a style = 'margin-right: 30px;'class="nav-link" href="{{url_for('auth.login')}}">Sign in</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>